# Pandas Class 2

In [2]:
import pandas as pd

In [11]:
#reading from html files
url="https://www.basketball-reference.com/leagues/NBA_2015_totals.html"
# also use     hh=read_html(url)
hh=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
hh

[      Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...  \
 0      1             Quincy Acy   PF   24  NYK  68  22  1287  152   331  ...
 1      2           Jordan Adams   SG   20  MEM  30   0   248   35    86  ...
 2      3           Steven Adams    C   21  OKC  70  67  1771  217   399  ...
 3      4            Jeff Adrien   PF   28  MIN  17   0   215   19    44  ...
 4      5          Arron Afflalo   SG   29  TOT  78  72  2502  375   884  ...
 5      5          Arron Afflalo   SG   29  DEN  53  53  1750  281   657  ...
 6      5          Arron Afflalo   SG   29  POR  25  19   752   94   227  ...
 7      6          Alexis Ajinça    C   26  NOP  68   8   957  181   329  ...
 8      7         Furkan Aldemir   PF   23  PHI  41   9   540   40    78  ...
 9      8           Cole Aldrich    C   26  NYK  61  16   976  144   301  ...
 10     9      LaMarcus Aldridge   PF   29  POR  71  71  2512  659  1415  ...
 11    10            Lavoy Allen    C   25  IND  63   0  1070  141   299  ...
 12    11             Tony Allen   SG   33  MEM  63  41  1648  225   455  ...
 13    12        Al-Farouq Aminu   SF   24  DAL  74   3  1366  147   357  ...
 14    13           Lou Amundson   PF   32  TOT  53  35   937  109   255  ...
 15    13           Lou Amundson   PF   32  CLE  12   0    79    4    12  ...
 16    13           Lou Amundson   PF   32  NYK  41  35   858  105   243  ...
 17    14         Chris Andersen    C   36  MIA  60  20  1132  120   207  ...
 18    15          Alan Anderson   SG   32  BRK  74  19  1744  195   440  ...
 19    16          Kyle Anderson   SF   21  SAS  33   8   358   31    89  ...
 20    17          Ryan Anderson   PF   26  NOP  61   5  1675  291   729  ...
 21    18  Giannis Antetokounmpo   SG   20  MIL  81  71  2541  383   780  ...
 22    19        Carmelo Anthony   SF   30  NYK  40  40  1428  358   806  ...
 23    20           Joel Anthony    C   32  DET  49   0   406   36    62  ...
 24    Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...
 25    21             Pero Antić    C   32  ATL  63   3  1037  108   296  ...
 26    22           Trevor Ariza   SF   29  HOU  82  82  2930  366   910  ...
 27    23         Darrell Arthur   PF   26  DEN  58   4   988  155   384  ...
 28    24              Ömer Aşık    C   28  NOP  76  76  1982  213   412  ...
 29    25          D.J. Augustin   PG   27  TOT  82  14  1964  258   647  ...
 ..   ...                    ...  ...  ...  ...  ..  ..   ...  ...   ...  ...
 645  477        Elliot Williams   SG   25  TOT  13   0   119   14    37  ...
 646  477        Elliot Williams   SG   25  UTA   5   0    42    6    13  ...
 647  477        Elliot Williams   SG   25  NOP   8   0    77    8    24  ...
 648  478           Lou Williams   SG   28  TOR  80   0  2016  375   928  ...
 649  479        Marvin Williams   PF   28  CHO  78  37  2035  210   495  ...
 650  480            Mo Williams   PG   32  TOT  68  33  1980  341   860  ...
 651  480            Mo Williams   PG   32  MIN  41  19  1149  180   447  ...
 652  480            Mo Williams   PG   32  CHO  27  14   831  161   413  ...
 653   Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...
 654  481        Reggie Williams   SF   28  SAS  20   0   105   15    39  ...
 655  482        Shawne Williams   SF   28  TOT  63  22  1087  121   300  ...
 656  482        Shawne Williams   SF   28  MIA  44  22   924  102   240  ...
 657  482        Shawne Williams   SF   28  DET  19   0   163   19    60  ...
 658  483            Jeff Withey    C   24  NOP  37   0   259   32    64  ...
 659  484           Nate Wolters   PG   23  TOT  21   0   247   20    57  ...
 660  484           Nate Wolters   PG   23  MIL  11   0   142   12    31  ...
 661  484           Nate Wolters   PG   23  NOP  10   0   105    8    26  ...
 662  485         Brandan Wright   PF   27  TOT  75   7  1449  233   363  ...
 663  485         Brandan Wright   PF   27  DAL  27   0   505  101   135  ...
 664  485         Brandan Wright   PF   27  BOS   8   0    86   12    21  ...
 665  485         Brandan Wright   PF   27  PHO  40   7   858  120   207  ...
 666  486          Dorell Wright   SF   29  POR  48   2   592   72   190  ...
 667  487            Tony Wroten   PG   21  PHI  30  15   895  175   434  ...
 668  488            James Young   SG   19  BOS  31   0   332   36   102  ...
 669  489             Nick Young   SG   29  LAL  42   0  1000  174   476  ...
 670  490         Thaddeus Young   PF   26  TOT  76  68  2434  451   968  ...
 671  490         Thaddeus Young   PF   26  MIN  48  48  1605  289   641  ...
 672  490         Thaddeus Young   PF   26  BRK  28  20   829  162   327  ...
 673  491            Cody Zeller    C   22  CHO  62  45  1487  172   373  ...
 674  492           Tyler Zeller    C   25  BOS  82  59  1731  340   619  ...

        FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0     .784   79  222  301   68   27   22   60  147   398
 1     .609    9   19   28   16   16    7   14   24    94
 2     .502  199  324  523   66   38   86   99  222   537
 3     .579   23   54   77   15    4    9    9   30    60
 4     .843   27  220  247  129   41    7  116  167  1035
 5     .841   21  159  180  101   32    5   83  108   771
 6     .851    6   61   67   28    9    2   33   59   264
 7     .818  104  211  315   47   21   51   69  151   443
 8     .481   78   98  176   28   17   16   17   96    93
 9     .781  101  237  338   75   37   65   59  122   338
 10    .845  177  549  726  124   48   68  122  125  1661
 11    .702  123  200  323   73   15   42   40  102   315
 12    .627  103  177  280   86  129   30   86  166   539
 13    .712  114  228  342   59   70   62   55  137   412
 14    .471   94  174  268   70   22   52   62  126   259
 15    .600    5   15   20    5    1    0    5   11    11
 16    .463   89  159  248   65   21   52   57  115   248
 17    .667   76  223  299   43   26   61   40   88   320
 18    .812   31  173  204   83   56    5   60  148   545
 19    .643    5   67   72   28   15    7   10   28    74
 20    .854  108  187  295   55   33   20   62  113   833
 21    .741  100  442  542  207   73   85  173  254  1030
 22    .797   72  192  264  122   40   17   89   87   966
 23    .682   32   61   93    5   12   49   12   55    87
 24     FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 25    .715   58  131  189   49   18   14   49  132   356
 26    .853   77  382  459  209  152   17  141  186  1048
 27    .780   53  118  171   57   48   26   47  146   382
 28    .582  244  504  748   72   29   54   95  144   557
 29    .868   20  141  161  353   49    3  145   93   777
 ..     ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
 645   .250    0    8    8   12    4    0    4   12    37
 646   .500    0    3    3    4    2    0    4    1    18
 647   .000    0    5    5    8    2    0    0   11    19
 648   .861   24  127  151  164   88   10  101  103  1242
 649   .713   58  328  386  100   69   36   60  146   577
 650   .872   22  152  174  424   46   14  172  162   964
 651   .851   13   85   98  261   30    8  102  103   499
 652   .892    9   67   76  163   16    6   70   59   465
 653    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 654  1.000    5   12   17   10    1    0    2   12    37
 655   .875   36  130  166   44   25   21   30  135   341
 656   .848   27  112  139   36   21   17   23  116   292
 657  1.000    9   18   27    8    4    4    7   19    49
 658   .680   23   41   64   11    4   18   12   26    98
 659   .333    8   26   34   21    8    2   13   18    42
 660   .250    2   14   16   10    5    0    3   11    25
 661   .500    6   12   18   11    3    2   10    7    17
 662   .696  128  193  321   41   50   94   34  102   544
 663   .750   51   59  110   10   17   42   13   44   238
 664   .500    7   10   17    8    1    5    5    4    26
 665   .667   70  124  194   23   32   47   16   54   280
 666   .810   14   97  111   41   20   11   18   55   219
 667   .667   22   64   86  157   48    8  113   72   507
 668   .552    9   33   42   13    8    2    5   22   105
 669   .892   17   79   96   41   23   11   44   83   563
 670   .655  127  284  411  173  124   25  117  171  1071
 671   .682   75  170  245  135   86   17   75  115   685
 672   .606   52  114  166   38   38    8   42   56   386
 673   .774   97  265  362  100   34   49   62  156   472
 674   .823  146  319  465  113   18   52   76  205   833

 [675 rows x 30 columns]]

In [13]:
hh[0]   #read in a clear format of dataframe or datasets

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,.841,21,159,180,101,32,5,83,108,771
6,5,Arron Afflalo,SG,29,POR,25,19,752,94,227,...,.851,6,61,67,28,9,2,33,59,264
7,6,Alexis Ajinça,C,26,NOP,68,8,957,181,329,...,.818,104,211,315,47,21,51,69,151,443
8,7,Furkan Aldemir,PF,23,PHI,41,9,540,40,78,...,.481,78,98,176,28,17,16,17,96,93
9,8,Cole Aldrich,C,26,NYK,61,16,976,144,301,...,.781,101,237,338,75,37,65,59,122,338
10,9,LaMarcus Aldridge,PF,29,POR,71,71,2512,659,1415,...,.845,177,549,726,124,48,68,122,125,1661
11,10,Lavoy Allen,C,25,IND,63,0,1070,141,299,...,.702,123,200,323,73,15,42,40,102,315
12,11,Tony Allen,SG,33,MEM,63,41,1648,225,455,...,.627,103,177,280,86,129,30,86,166,539
13,12,Al-Farouq Aminu,SF,24,DAL,74,3,1366,147,357,...,.712,114,228,342,59,70,62,55,137,412
14,13,Lou Amundson,PF,32,TOT,53,35,937,109,255,...,.471,94,174,268,70,22,52,62,126,259
15,13,Lou Amundson,PF,32,CLE,12,0,79,4,12,...,.600,5,15,20,5,1,0,5,11,11
16,13,Lou Amundson,PF,32,NYK,41,35,858,105,243,...,.463,89,159,248,65,21,52,57,115,248
17,14,Chris Andersen,C,36,MIA,60,20,1132,120,207,...,.667,76,223,299,43,26,61,40,88,320
18,15,Alan Anderson,SG,32,BRK,74,19,1744,195,440,...,.812,31,173,204,83,56,5,60,148,545
19,16,Kyle Anderson,SF,21,SAS,33,8,358,31,89,...,.643,5,67,72,28,15,7,10,28,74
20,17,Ryan Anderson,PF,26,NOP,61,5,1675,291,729,...,.854,108,187,295,55,33,20,62,113,833
21,18,Giannis Antetokounmpo,SG,20,MIL,81,71,2541,383,780,...,.741,100,442,542,207,73,85,173,254,1030
22,19,Carmelo Anthony,SF,30,NYK,40,40,1428,358,806,...,.797,72,192,264,122,40,17,89,87,966
23,20,Joel Anthony,C,32,DET,49,0,406,36,62,...,.682,32,61,93,5,12,49,12,55,87
24,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
25,21,Pero Antić,C,32,ATL,63,3,1037,108,296,...,.715,58,131,189,49,18,14,49,132,356
26,22,Trevor Ariza,SF,29,HOU,82,82,2930,366,910,...,.853,77,382,459,209,152,17,141,186,1048
27,23,Darrell Arthur,PF,26,DEN,58,4,988,155,384,...,.780,53,118,171,57,48,26,47,146,382
28,24,Ömer Aşık,C,28,NOP,76,76,1982,213,412,...,.582,244,504,748,72,29,54,95,144,557
29,25,D.J. Augustin,PG,27,TOT,82,14,1964,258,647,...,.868,20,141,161,353,49,3,145,93,777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,477,Elliot Williams,SG,25,TOT,13,0,119,14,37,...,.250,0,8,8,12,4,0,4,12,37
646,477,Elliot Williams,SG,25,UTA,5,0,42,6,13,...,.500,0,3,3,4,2,0,4,1,18
647,477,Elliot Williams,SG,25,NOP,8,0,77,8,24,...,.000,0,5,5,8,2,0,0,11,19
648,478,Lou Williams,SG,28,TOR,80,0,2016,375,928,...,.861,24,127,151,164,88,10,101,103,1242
649,479,Marvin Williams,PF,28,CHO,78,37,2035,210,495,...,.713,58,328,386,100,69,36,60,146,577
650,480,Mo Williams,PG,32,TOT,68,33,1980,341,860,...,.872,22,152,174,424,46,14,172,162,964
651,480,Mo Williams,PG,32,MIN,41,19,1149,180,447,...,.851,13,85,98,261,30,8,102,103,499
652,480,Mo Williams,PG,32,CHO,27,14,831,161,413,...,.892,9,67,76,163,16,6,70,59,465
653,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
654,481,Reggie Williams,SF,28,SAS,20,0,105,15,39,...,1.000,5,12,17,10,1,0,2,12,37
655,482,Shawne Williams,SF,28,TOT,63,22,1087,121,300,...,.875,36,130,166,44,25,21,30,135,341
656,482,Shawne Williams,SF,28,MIA,44,22,924,102,240,...,.848,27,112,139,36,21,17,23,116,292
657,482,Shawne Williams,SF,28,DET,19,0,163,19,60,...,1.000,9,18,27,8,4,4,7,19,49
658,483,Jeff Withey,C,24,NOP,37,0,259,32,64,...,.680,23,41,64,11,4,18,12,26,98
659,484,Nate Wolters,PG,23,TOT,21,0,247,20,57,...,.333,8,26,34,21,8,2,13,18,42
660,484,Nate Wolters,PG,23,MIL,11,0,142,12,31,...,.250,2,14,16,10,5,0,3,11,25
661,484,Nate Wolters,PG,23,NOP,10,0,105,8,26,...,.500,6,12,18,11,3,2,10,7,17
662,485,Brandan Wright,PF,27,TOT,75,7,1449,233,363,...,.696,128,193,321,41,50,94,34,102,544
663,485,Brandan Wright,PF,27,DAL,27,0,505,101,135,...,.750,51,59,110,10,17,42,13,44,238
664,485,Brandan Wright,PF,27,BOS,8,0,86,12,21,...,.500,7,10,17,8,1,5,5,4,26
665,485,Brandan Wright,PF,27,PHO,40,7,858,120,207,...,.667,70,124,194,23,32,47,16,54,280
666,486,Dorell Wright,SF,29,POR,48,2,592,72,190,...,.810,14,97,111,41,20,11,18,55,219
667,487,Tony Wroten,PG,21,PHI,30,15,895,175,434,...,.667,22,64,86,157,48,8,113,72,507
668,488,James Young,SG,19,BOS,31,0,332,36,102,...,.552,9,33,42,13,8,2,5,22,105
669,489,Nick Young,SG,29,LAL,42,0,1000,174,476,...,.892,17,79,96,41,23,11,44,83,563
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [68]:
hh[0].head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [18]:
hh1=hh[0]  #assign clear formatted data to a variable
hh1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [23]:
hh1['MP'].head()  # read a column

0    1287
1     248
2    1771
3     215
4    2502
Name: MP, dtype: object

In [25]:
hh1['Pos'.'Age','TM']  #we cant read multiple columns directly

SyntaxError: invalid syntax (<ipython-input-25-d70eb31a8c5b>, line 1)

In [34]:
hh2=hh1[['Player','Pos','Age','Tm']]   #read as list for multiple needed columns
hh2.head()

          Player Pos Age   Tm
0     Quincy Acy  PF  24  NYK
1   Jordan Adams  SG  20  MEM
2   Steven Adams   C  21  OKC
3    Jeff Adrien  PF  28  MIN
4  Arron Afflalo  SG  29  TOT

In [37]:
hh1.columns   #list all columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [39]:
hh2.columns

Index(['Player', 'Pos', 'Age', 'Tm'], dtype='object')

In [53]:
ur="https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv"
#titanic dataset
#all web data set can be read in pandas
# i saved link in a variable  'ur'
nc=pd.read_csv(ur)
nc

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [52]:
# select few columns
nc1=nc[['Name','Age','Pclass']]
nc11=nc[['Name','Age','Pclass']].head()
nc[['Name','Age','Pclass']].head()
# or show  nc11

                                                Name   Age  Pclass
0                            Braund, Mr. Owen Harris  22.0       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0       1
2                             Heikkinen, Miss. Laina  26.0       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0       1
4                           Allen, Mr. William Henry  35.0       3

In [49]:
#nrows
nc2=pd.read_csv(ur,nrows=10)   # nrows=10   so it reads only 10 rows while reading.
nc2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [55]:
nc2.head()  # we can also use head()  to that 10 columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [64]:
#info()   shows  the details and datatypes and its counts also
# in output-  Age has 714   out of 891  rows     so i shows others are blank values  or NaN
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB